.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: auto;
    height: 100vh;
    padding-top: 20px;
    border-right: 1px solid #ddd;
}

.sidebar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    font-size: 18px;
    color: #333;
    transition: background-color 0.3s ease;
    border-left: 5px solid transparent;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #f0f0f0;
}

.sidebar a.active {
    border-left: 5px solid #ccc;
    background-color: white;
}

.dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.meetings-container {
    border-right: 1px solid #333;
    padding: 10px;
}

.contacts-container {
    padding: 10px;
}