body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: flex-start;
}

.sidebar {
    background-color: #fff;
    height: 100vh;
    border-right: 1px solid #ddd;
}

.sidebar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    font-size: 18px;
    color: #333;
    transition: background-color 0.3s ease;
    border-left: 5px solid transparent;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #f0f0f0;
}

.sidebar a.active {
    border-left: 5px solid #ccc;
    background-color: white;
}

.dashboard {
    display: flex;
    padding-top: 50px;
    flex: 1;
}

.meetings-container {
    padding-left: 30px;
    padding-right: 30px;
    flex: 1;
    border-right: 1px solid #837d7d;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.section-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #ccc;
}

.meeting-card {
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 4px 8px rgba(0, 0, 0, 0.2), 
                0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%; 
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px 25px;
}

.meeting-card-header {
    font-weight: bold;
}

.circle-red {
    width: 25px; 
    height: 25px;
    background-color: #ED6A62; 
    border-radius: 50%; 
}

.circle-yellow {
    width: 25px; 
    height: 25px;
    background-color: #ECE664; 
    border-radius: 50%; 
}

.circle-green {
    width: 25px; 
    height: 25px;
    background-color: #7FEC64; 
    border-radius: 50%; 
}

.meeting-card-item {
    display: flex;
    align-items: center;
    min-width: 50px;
    gap: 5px;
}

.meeting-card-item2 {
    display: flex;
    gap: 10px;
}

.contacts-container {
    padding-left: 30px;
    padding-right: 30px;
    flex: 1;
}

.contact-card {
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 4px 8px rgba(0, 0, 0, 0.2), 
                0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%; 
    display: flex;
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 25px;
}

.remind-button {
    background-color: #D27C7C; 
    color: #FFFFFF; 
    padding: 10px 20px; 
    font-size: 16px;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.1s ease;
    margin-left: auto;
}

.remind-button:hover {
    background-color: #BA6B6B;
}